<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Movie Order</title>
</head>
<body>
    <h1> Order </h1>
    <p>
        Order: {{ order }}
    </p>
</body>
</html>

{# @app.route('/orders/<index>')
def get_index(index):
    index = order_list[int(index)]
    return render_template('order.jinja', title = 'Order', order=id) #}